<% method = goal.persisted? ? :patch : :post %>

<form action="<%= method == :patch ? goal_url(goal) : goals_url %>"
  method="post">
  <%= csrf_html %>
  <% if method == :patch %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label>goal
    <textarea
      name="goal[body]"
      rows="8" cols="40"><%= method == :patch ? goal.body : "" %>
    </textarea>
  </label>

  <label>private?
    <input type="checkbox"
      <%= goal.is_private ? "checked" : "" %>
      name="goal[is_private]"
      value="true">
  </label>

  <% if method == :patch %>
  <label>complete?
    <input type="checkbox"
      <%= goal.is_complete ? "checked" : "" %>
      name="goal[is_complete]"
      value="true">
  </label>
  <% end %>

  <input type="submit"
    value="<%= method == :patch ? "Edit goal" : "Add goal" %>">
</form>
